.container {
  display: flex;

  @media (max-width: 900px) {
    flex-direction: column-reverse;
  }

  .--left-column {
    width: 60%;

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  .--right-column {
    width: 40%;

    @media (max-width: 900px) {
      display: none;
    }
  }
}