.container {
  h1 {
    text-align: center;
    font-size: 2em;
    font-family: 'Gotham-Book', sans-serif;
    margin-bottom: .5em;
  }

  h5 {
    text-align: center;
    font-size: 1em;
    font-family: 'Gotham-Light', sans-serif;
  }
}

.content_form {
  display: flex;
  align-items: center;
  justify-content: center;
}